// ==== MIXINS ======================>
@mixin mej($width, $height) {
    width: $width;
    height: $height;
}
@mixin flexVar($culumn, $just, $align) {
    display: flex;
    flex-direction: $culumn;
    justify-content: $just;
    align-items: $align;
}
@mixin flex-reg {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin flex-cul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
@mixin brd {
    // border: solid 1px #aaa59f;
}

// ==== VARS ======================> 
@keyframes drop-nav{
    0%{
        opacity: 0;
        top: -350px;
    }
    50%{
    }
    100%{
        top: 1.3em;
        opacity: 1;

    }
}

// ==== HEADER =================================>
.header{
    position: relative;

}

.customer-panel-wrap{
    max-width: 1287px;
    width: 97%;
    height: calc(1em + 1vw);
    background-color: #333333;
    // 
    position: fixed;
    z-index: 10000;

}
.central-customer-panel{
    @include flexVar(none, space-between, center);
    margin: auto;
    max-width: 70%;
    height: 100%;
    // 
    color: #777777;
    div{
    @include flexVar(none, space-between, center);

    }
}
.right-tools{
    width: 40%;
    height: 100%;
}
.sing-up-wrap{
    max-width: 100%;
    width: calc(6em + 3vw);
    @include flexVar(none, space-between, center);
    // 
    color: #999999;
}
// 
.customer-cart-wrap{
    width: calc(4em + 3vw);
    height: 100%;
    background-color: #00c8c8;
    color: #ffffff;
    // 
    span{
        display: block;
        margin: auto;
    }
    .cart{
        margin: auto;

    }
}
// ==== NAV ====================================>
.nav{
    width: 100%;
    height: calc(3em + 2vw); 
    @include flex-reg();
    // 
    // background-color: #f8f8f8;
    // position: absolute;
    z-index: 1000;


    .central-nav{
        width: 90%;
        @include flexVar(none, space-between, center);
    }
}
.links-nav-wrap{
    width: calc(30em + 7vw);
    @include brd();
    @include flexVar(none, space-between, center);
    // 

    ul{
        width: 65%;
        @include flexVar(none, space-between, center);
        list-style-type: none;
        // @include brd();
        position: relative;
        // 
        

        li{
            &:hover div{
                display: block;
                animation:drop-nav .3s ease-out;
            }
            // margin-left: 0%;
            // &:first-child{
            //     margin-left: 0;
            // }
            .drop-panel{
                    width: 80%;
                    margin-top: .1em;
                    position: absolute;
                    display: none;
                    // @include brd();
                    padding: 1em;
                    // 
                    box-shadow: 0 17px 24px rgba(0, 0, 0, 0.14);
                    background-color: #f8f8f8;
                    ul{
                        // @include brd();
                        width: 100%;    
                        @include flexVar(none, flex-start, flex-start);
                        li{
                            // @include brd();
                            margin-right: .5em;

                            ul{
                            @include flexVar(column, space-between, flex-start);
                            display: block;
                            font-size: .9em;
                            margin-top: .5em;

                            a{
                                display: block;
                            }

                            }

                        }
                    }
            }
        }

    }
}
li a{
    text-decoration: none;
    color: #222222;
}
.search{
    @include flexVar(none, flex-end, center);
    label{
        width: 70%;
        border: 1px solid #e7e7e7;
        background-color: #f8f8f8;
        // 
    padding: 0 0.2em;

    }
    .input-search{
        width: 80%;
        // 
        border: none;
        // 
        background-color: #f8f8f8;
    }
}
.fa-search{
    color: #989898;
    font-size: 14px;
    // 
}
// ===================
.fall-sale-wrap{
    background-color: #333333;
    margin: auto;
    width: 80%;
    // 
    margin-top: 1em;


    // 
    // position: ;
    // bottom: 0;
    a{
        color: #ffffff;
        display: block;
        // background: rgb(134, 134, 134);
        width: 100%;
        height: calc(3.5em + 3vw); 
        @include flex-reg();
        // ========
        font-family: Montserrat;
        font-size: 1.2em;
        font-weight: 400;
        line-height: 2em;
        text-transform: uppercase;
        /* Text style for "Autumn sal" */
        font-family: "Montserrat - Bold";
        font-weight: 700;
        letter-spacing: 1.2px;



    }
     
}
// 
.logo{
    span{
        color: #222222;
        font-family: Montserrat;
        font-size: 20px;
        text-transform: uppercase;
        // 
        font-weight: 700;
        letter-spacing: 1.2px;
        &+span{
            font-family: "Montserrat - Regular";
            font-weight: 400;
            letter-spacing: 1.2px;
            // 
            margin-left: .5em;
        }
    }
}